<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="app.component.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
{{ friendModel | json }}
<form #friendForm="ngForm" novalidate (ngSubmit)="onSubmit()">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" #firstName="ngModel" [(ngModel)]="friendModel.firstName" required
         [class.error]="firstName.invalid && firstName.touched" pattern="^[A-Za-z]+$"><br><br>

  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" #lastName="ngModel" [(ngModel)]="friendModel.lastName" required
         [class.error]="lastName.invalid && lastName.touched" pattern="^[A-Za-z]+$"><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="friendModel.email" required
         [class.error]="email.invalid && email.touched" pattern="^[0-9a-zA-Z|-|.]+@[0-9a-zA-Z|-]+.[0-9a-zA-Z|-]+$"><br><br>
  <label for="number">Phone number:</label>
  <input type="text" id="number" name="number" #number="ngModel" [(ngModel)]="friendModel.phoneNumber" required
         pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
         [class.error]="number.invalid && number .touched"><br><br>

  <label for="lang">Favourite language:</label>
  <select #language="ngModel" name="lang" id="lang" [(ngModel)]="friendModel.language" required
          [class.error]="language.invalid && language.touched">
    <option *ngFor="let language of languages">{{language}}</option>
  </select>

  <button [disabled]="friendForm.form.invalid ">Add Friend "</button>
</form>

<div class="container" *ngFor="let friend of allFriends">
  <div>
    First name: {{friend.firstName}}<br>
    Last name: {{friend.lastName}}<br>
    Email: {{friend.email}}<br>
    Phone number: {{friend.phoneNumber}}<br>
    Favorite language: {{friend.language}}<br>
  </div>
  <br>
</div>

</body>
</html>

<router-outlet></router-outlet>

